*.digitaldelinquency.xyz {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @pihole host pihole.digitaldelinquency.xyz 
    handle @pihole {
        reverse_proxy pihole:80
    }

    @syncthing host syncthing.digitaldelinquency.xyz 
    handle @syncthing {
        reverse_proxy syncthing:8384
    }

    @vaultw host vaultw.digitaldelinquency.xyz 
    handle @vaultw {
        reverse_proxy vaultwarden:80
    }

    @it-tools host it-tools.digitaldelinquency.xyz 
    handle @it-tools {
        reverse_proxy it-tools:80
    }

    @cyberchef host cyberchef.digitaldelinquency.xyz 
    handle @cyberchef {
        reverse_proxy cyberchef:80
    }

    @beszel host beszel.digitaldelinquency.xyz 
    handle @beszel {
        reverse_proxy beszel:8090
    }
}
