*.digitaldelinquency.xyz {
    tls {
        dns linode {env.LINODE_API_TOKEN}
    }

    pihole.digitaldelinquency.xyz {
        reverse_proxy pihole:80
    }

    syncthing.digitaldelinquency.xyz {
        reverse_proxy syncthing:8384
    }
}
