*.digitaldelinquency.xyz {
    acme_dns linode {$LINODE_API_TOKEN}

    @pihole host pihole.digitaldelinquency.xyz {
        reverse_proxy pihole:80
    }

    @syncthing host syncthing.digitaldelinquency.xyz {
        reverse_proxy syncthing:8384
    }
}
