configs:
  caddy-config:
    content: |
      *.digitaldelinquency.xyz {
          tls {
              dns cloudflare ${CLOUDFLARE_API_TOKEN}
          }

          @pihole host pihole.digitaldelinquency.xyz 
          handle @pihole {
              reverse_proxy pihole:80
          }

          @uptime-kuma host uptime-kuma.digitaldelinquency.xyz 
          handle @uptime-kuma {
              reverse_proxy uptime-kuma:3001
          }

          @syncthing host syncthing.digitaldelinquency.xyz 
          handle @syncthing {
              reverse_proxy syncthing:8384
          }

          @vaultw host vaultw.digitaldelinquency.xyz 
          handle @vaultw {
              reverse_proxy vaultwarden:80
          }

          @immich host immich.digitaldelinquency.xyz 
          handle @immich {
              reverse_proxy immich-server:2283
          }

          @copyparty host copyparty.digitaldelinquency.xyz 
          handle @copyparty {
              reverse_proxy copyparty:3923
          }
      }
  copyparty-config:
    content: |
      [global]
      e2dsa
      rproxy: -1

      [accounts]
      admin:${COPYPARTY_ADMIN_PASSWORD}

      [/]
      /data
      accs:
        rw: admin

services:
  caddy:
    build: ./caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    environment:
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
    configs:
      - source: caddy-config
        target: /etc/caddy/Caddyfile
    volumes:
      - /var/caddy/data:/data
      - /var/caddy/config:/config
  copyparty:
    image: copyparty/ac:latest
    restart: unless-stopped
    environment:
      COPYPARTY_ADMIN_PASSWORD: ${COPYPARTY_ADMIN_PASSWORD}
    configs:
      - source: copyparty-config
        target: /cfg/config.conf
    volumes:
      - /var/copyparty:/w
  syncthing:
    image: syncthing/syncthing:latest
    restart: unless-stopped
    dns:
      - 127.0.0.1
      - 1.1.1.1
      - 1.0.0.1
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - /var/syncthing:/var/syncthing
  vaultwarden:
    image: vaultwarden/server:latest
    restart: unless-stopped
    environment:
      ADMIN_TOKEN: ${VAULTW_ADMIN_TOKEN}
    volumes: 
      - /var/vaultwarden:/data
  immich-server:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /var/syncthing/Media:/syncthing/Media:rw
      - /var/syncthing/Camera:/syncthing/Camera:rw
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false
  redis:
    image: docker.io/valkey/valkey:8-bookworm@sha256:ff21bc0f8194dc9c105b769aeabf9585fea6a8ed649c0781caeac5cb3c247884
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0@sha256:fa4f6e0971f454cd95fec5a9aaed2ed93d8f46725cc6bc61e0698e97dba96da1
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    restart: always
volumes:
  model-cache:
networks:
  default:
    external: true
    name: proxy
