services:
  pihole:
    image: pihole/pihole:latest
    restart: unless-stopped
    ports:
      - 53:53/tcp
      - 53:53/udp
    environment:
      TZ: 'America/Los Angeles'
    volumes:
      - /var/pihole:/etc/pihole
      - /var/pihole-dnsmasq:/etc/dnsmasq.d
  watchtower:
    image: containrrr/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
